.fc .fc-button {
    border-radius: 15em;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(150, 150, 150, 0.4);
}

.fc-theme-standard td {
    border: none !important;
}
.fc-theme-standard th{
    border: none !important;
}
table {
    border: none !important;
} */

.calendar-tooltip {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  white-space: nowrap;
}