:root {
  //font-family: Jost, system-ui, Avenir, Helvetica, Arial, sans-serif;
  //font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  //line-height: 1.5;
  //font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
